[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "https://github.com/zachrammell/EASTL.git"]
	path = https://github.com/zachrammell/EASTL.git
	url = libraries/EASTL
[submodule "libraries/EASTL"]
	path = libraries/EASTL
	url = https://github.com/zachrammell/EASTL.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
